{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "settings" : {
    "import/resolver": "webpack"
  },
  "rules": {
  	"import/no-unresolved": 1,
  	"import/extensions": 1,
  	"comma-dangle": ["error", "never"],
		"semi": ["error", "never"],
		"no-tabs": 0,
		"no-console": 0,
		"react/jsx-filename-extension": 0,
		"react/jsx-closing-bracket-location": [ 1, {selfClosing: 'props-aligned', nonEmpty: 'after-props'}],
		"react/jsx-first-prop-new-line": [2, "never"],
		"react/jsx-indent": [2, 2],
		"react/jsx-indent-props": [2, 'first']
  }
}
