.container {
  $n-rot: -1;

  canvas {
    margin-top: -35px;
    -moz-transform: rotate($n-rot + deg);
    -webkit-transform: rotate($n-rot + deg);
    transform: rotate($n-rot + deg);
    min-width: 100vw;
  }
}

.presentation {
  margin-top: 20px;
  img {
      border-radius: 100%;
      border: 1px solid #000;
  }
}

.text,
.textSecondary {
  color: #000;
}
.textSecondary {
  max-width: 213px;
}

.bannerSmall {
  background-color: #fff;
}

.bannerLarge {
  position: absolute;
  z-index: 20;
  left: 10%;
}
