.container {
  canvas {
    margin-top: -35px;
    transform: rotate(-1.5deg);
  }
}

.presentation {
  margin-top: 100px;
  img {
      border-radius: 100%;
      border: 1px solid #000;
  }
}

.text,
.textSecondary {
  color: #000;
}
.textSecondary {
  max-width: 213px;
}

.bannerSmall {
  background-color: #fff;
}

.bannerLarge {
  position: absolute;
  z-index: 20;
  left: 10%;
}
