.presentation {
  margin-top: 100px;
  img {
      border-radius: 100%;
      border: 1px solid #000;
  }
}

.text {
  color: #000;
}

.bannerSmall {
  background-color: #fff;
}

.bannerLarge {
  position: absolute;
  z-index: 20;
  left: 10%;
}
